# hidden folders & junk files
.*/
.*
*.iml

# Log files
logs/
*.log

# Dependencies
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Compiled files
dist/

# Keep
!.git*
!.*rc*
!.*ignore
!.*config
